node_modules
dist
npm
.mcp
.vscode
java
.sonarlint
codeql-custom-queries-javascript
tmp-*-*
coverage
.codeql
.codeql/**
coverage-*.*
coverage_*.*
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*.class
.vitest-*.*
benchmarks/results-*.*
benchmarks/summary-*.*
benchmarks/sweep-*.*
# stryker temp files
.stryker-tmp
